@model IEnumerable<Clase12.Models.Tarifas>
@{
    ViewBag.Title = "ListaTarifas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista Tarifas</h2>
<h2>@Html.ActionLink("Nueva Tarifa", "NuevaTarifa", "Tarifa")</h2>
<table id="tarifas" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Costo</th>
            <th>Descuento</th>
            <th>Fecha</th>
            <th>Borrar</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var tarifas in Model)
        {
            <tr>
                <td>@Html.ActionLink(tarifas.Nombre, "Edit", "Tarifa", new { id = tarifas.Id }, null)</td>
                @*<td>@tarifas.Nombre</td>*@
                <td>@tarifas.Costo</td>
                <td>@tarifas.Descuento</td>
                <td>@tarifas.Fecha</td>
                <!--<td>@Html.ActionLink("Eliminar", "Eliminar", "Tarifa", new { id = tarifas.Id }, null)</td>-->

                <td>
                    <button data-tarifas-id="@tarifas.Id" class="btn-link js-delete">Borrar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
    {
    <script>
        $(document).ready(function () {
            $("#tarifas").DataTable();

            $("#tarifas").on("click", ".js-delete", function () {
                var button = $(this);
                if (confirm("Seguro")) {
                    $.ajax({
                        url: "/tarifa/Eliminar/" + button.attr("data-tarifas-id"),

                        success: function () {
                            button.parents("tr").remove();
                        }
                    });
                }
            });
        });
    </script>
}