@model IEnumerable<Clase12.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista Peliculas</h2>
<h2>@Html.ActionLink("Nueva Pelicula", "Genero", "Movies")</h2>
<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movies</th>
            <th>Genero</th>
            <th>Borrar</th>

        </tr>
    </thead>

    <tbody class="table table-bordered table-hover">
        @foreach (var movie in Model)
        {
            <tr>
                @*<td>@movie.Nombre</td>*@
                <td>@Html.ActionLink(movie.Nombre, "Edit", "Movies", new { id = movie.ID }, null)</td>
                <td>@movie.Genero</td>
                <!--<td>@Html.ActionLink("Eliminar", "Eliminar", "Movies", new { id = movie.ID }, null)</td>-->

                <td>
                    <button data-movie-id="@movie.ID" class="btn-link js-delete">Borrar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
    {
    <script>
        $(document).ready(function () {
            $("#movies").DataTable();

            $("#movies").on("click", ".js-delete", function () {
                var button = $(this);
                if (confirm("Seguro")) {
                    $.ajax({
                        url: "/movies/Eliminar/" + button.attr("data-movie-id"),

                        success: function () {
                            button.parents("tr").remove();
                        }
                    });
                }
            });
        });
    </script>
}


